@import '../../styles/abstracts/_variables';
@import '../../styles/abstracts/_mixins';

$card-image-wrap-size: 100%;
$card-image-size: 100%;

.card {
  position: relative;

  overflow: hidden;
  display: grid;
  grid-gap: var(--spacer);
  grid-template-columns: minmax(124px, 1fr) minmax(0, 1.6fr);

  padding: calc(var(--spacer) * 1.25) 0;

  &::after {
    content: '';

    position: absolute;
    right: calc(var(--spacer) * -1.25);
    bottom: 0;
    left: calc(var(--spacer) * -1.5);

    display: inline-block;

    height: 1px;

    background-color: var(--gray-100);

    @media (min-width: $breakpoint-md) {
      content: none;
    }
  }

  &:last-child {
    border-bottom-width: 0;

    @media (min-width: $breakpoint-md) {
      border-bottom-width: 1px;
    }
  }

  @media (min-width: $breakpoint-md) {
    padding: 0;
    border: 1px solid #e6e6e6;
    border-radius: var(--border-radius);
  }

  @media (min-width: $breakpoint-lg) {
    display: flex;
    grid-gap: 0;
    flex-direction: column;
    padding: 0;
  }
}

.image-wrap {
  position: relative;
  z-index: 1;

  overflow: hidden;

  width: $card-image-wrap-size;
  padding-top: 100%;

  border-radius: var(--border-radius);

  @media (min-width: $breakpoint-md) {
    margin: var(--spacer) 0 var(--spacer) calc(var(--spacer) * 0.25);
  }

  @media (min-width: $breakpoint-lg) {
    flex-shrink: 0;
    margin: 0;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
}

.image {
  @include inset(0, 0, 0, 0);

  position: absolute;
  z-index: 1;

  display: block;

  width: $card-image-size;
  height: $card-image-size;

  object-fit: cover;
}

.description {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (min-width: $breakpoint-md) {
    margin-left: 0;
    padding: calc(var(--spacer) * 0.75) var(--spacer) var(--spacer) 0;
  }

  @media (min-width: $breakpoint-lg) {
    padding: calc(var(--spacer) * 0.75) var(--spacer) var(--spacer) calc(var(--spacer) * 0.75);
  }
}

.row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: auto;

  &:last-child {
    margin-top: var(--spacer);
  }
}

.title {
  margin-bottom: calc(var(--spacer) * 0.5);
  font-size: var(--font-size-sm);

  @media (min-width: $breakpoint-lg) {
    margin-bottom: calc(var(--spacer) * 0.75);
  }
}

.price {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
}

.state {
  font-size: var(--font-size-xs);
}

.add {
  cursor: pointer;

  padding: 8px 14px 10px;

  font-size: var(--font-size-sm);
  line-height: var(--line-height-140);

  background-color: transparent;
  border: 1px solid var(--gray-300);
  border-radius: var(--border-radius-sm);

  transition: border-color 0.25s linear 0s;

  &:hover {
    border-color: var(--gray-400);
  }
}

.like {
  cursor: pointer;

  position: relative;
  top: 6px;

  padding: 0;

  background-color: transparent;
  border: 0;

  transition: fill 0.2s ease 0s, stroke 0.2s ease 0s;

  &:hover > svg {
    fill: var(--red-500);
    stroke: var(--red-500);
  }
}
