$button-variants: (
  'primary': (
    'color': var(--white),
    'bg-color': var(--red-500),
    'bg-color-hover': var(--red-400),
  ),
  'secondary': (
    'color': var(--black-800),
    'bg-color': var(--gray-400),
    'bg-color-hover': var(--gray-300),
  ),
);
$button-outline-variants: (
  'float': (
    'color': var(--black-800),
    'color-hover': var(--black-800),
    'border': 1px solid var(--gray-300),
    'border-hover': 1px solid var(--gray-400),
  ),
  'primary': (
    'color': var(--red-500),
    'color-hover': var(--red-400),
    'border': 1px solid var(--red-500),
    'border-hover': 1px solid var(--red-300),
  ),
);
$button-sizes: (
  'sm': (
    'padding': calc(var(--spacer) * 0.5) var(--spacer),
    'font-size': var(--font-size-xs),
  ),
  'lg': (
    'padding': var(--spacer) calc(var(--spacer) * 2),
    'font-size': var(--h3-font-size),
  ),
);

.button {
  cursor: pointer;

  padding: calc(var(--spacer) * 0.5) calc(var(--spacer) * 0.875) calc(var(--spacer) * 0.625);

  font-size: var(--font-size-sm);
  line-height: var(--line-height-140);

  border: 0;
  border-radius: var(--border-radius-sm);
}

// button variants
@each $name, $styles in $button-variants {
  .#{$name} {
    color: map-get($styles, 'color');
    background-color: map-get($styles, 'bg-color');
    transition: background-color 0.25s linear 0s;

    &:hover,
    &:active,
    &.active,
    &:active:focus,
    &.active:focus {
      color: map-get($styles, 'color');
      background-color: map-get($styles, 'bg-color-hover');
    }

    &.active:focus-visible,
    &:focus-visible {
      color: map-get($styles, 'color');
      background-color: map-get($styles, 'bg-color-hover');
      outline: none;
    }

    &.disabled,
    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }
}

.icon {
  padding: 0;
  background-color: transparent;
  border: 0;

  &.active:focus-visible,
  &:focus-visible {
    margin: calc(var(--spacer) * -0.25) calc(var(--spacer) * -0.25) 0;
    padding: calc(var(--spacer) * 0.25) calc(var(--spacer) * 0.25) 0;
    outline: none;
    box-shadow: 0 1px 2px rgb(var(--black-800) / 30%);
  }
}

// outline button variants
@each $name, $styles in $button-outline-variants {
  .outline-#{$name} {
    color: map-get($styles, 'color');
    background-color: transparent;
    border: map-get($styles, 'border');
    transition: border 0.25s linear 0s, color 0.25s linear 0s;

    &:hover,
    &:active,
    &.active,
    &:active:focus,
    &.active:focus {
      color: map-get($styles, 'color-hover');
      border: map-get($styles, 'border-hover');
    }

    &.active:focus-visible,
    &:focus-visible {
      color: map-get($styles, 'color-hover');
      border: map-get($styles, 'border-hover');
      outline: none;
    }

    &.disabled,
    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }
}

// sizes
@each $name, $styles in $button-sizes {
  .#{$name} {
    padding: map-get($styles, 'padding');
    font-size: map-get($styles, 'font-size');
  }
}
