@import '../../styles/abstracts/_variables';

.products {
  width: 100%;
  padding-top: calc(var(--spacer) * 0.5);

  @media (min-width: $breakpoint-md) {
    display: grid;
    grid-gap: var(--spacer);
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: $breakpoint-lg) {
    grid-gap: calc(var(--spacer) * 1.5);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding-top: 0;
  }
  @media (min-width: $breakpoint-xl) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
