@import '../styles/abstracts/variables';

.lenses {
  padding: calc(var(--spacer) * 1.5) 0;

  @media (min-width: $breakpoint-lg) {
    display: flex;
    padding: calc(var(--spacer) * 4) 0;
  }
}

.filter {
  @media (min-width: $breakpoint-lg) {
    margin-right: calc(var(--spacer) * 2.5);
  }
}
